table,
td,
th {
  border: 1px solid black;

  background-color: #262d34;
  color: white;
  text-align: center;
}
h1 {
  color: white;
  text-align: center;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #858585;
  border-radius: 50%;
  display: inline-block;
}
.dot1 {
  height: 10px;
  width: 10px;
  background-color: #fe4a01;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 10px;
  width: 10px;
  background-color: #345eef;
  border-radius: 50%;
  display: inline-block;
}
.dot3 {
  height: 10px;
  width: 10px;
  background-color: #434b9c;
  border-radius: 50%;
  display: inline-block;
}

#plan_trace_img {
  margin-left: 58%;
  margin-top: -45px;
}

#square {
  background: #333872;
  width: 18px;
  height: 25px;
}

#main_heading {
  padding-top: 125px;
}

@media (max-width: 424) {
  #main_heading {
    padding-top: 125px;
    font-size: 28px;
  }
}
