.body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z11lFd2JQEl8qw.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

nav {
  min-height: 7vh;
  background-color: #5865f2;
  color: white;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
#sticky {
  position: fixed;
  width: 100%;
  z-index: 9;
  overflow: hidden;
  margin-bottom: 125px;
}

.logo {
  color: white;
  margin: auto;
}

.a {
  margin: auto;
}

.join {
  color: #5865f2;
  margin: 3px 0px 0px 20px;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: black;
}

.barr {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.btn1 {
  background-color: #5e4dfb;
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.para {
  color: white;
}

.card {
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 1%;
  background-color: #5e4dfb;
  height: 250px;
  font-family: -webkit-pictograph;
  width: 18rem;
  background-color: #424599;
  border-color: #424599;
}

.card-body {
  padding-top: 30px;
}

h2 {
  color: white;
}

p {
  color: white;
}

.drop {
  height: 20px;
  margin-top: 50px;
  margin-right: 9px;
}

.drag {
  margin-top: 50px;
}

li {
  float: left;
  color: white;
  text-decoration-color: white;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

.get {
  background-color: #ffffff;
  padding-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #41479d;
  margin-top: 40px;
}

.card-text {
  color: #d2d8df;
  font-size: 14px;
}

.btn-coming-soon {
  background-color: #424599;
  border-color: #424599;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#down_arrow {
  width: 4%;
  margin-top: 34%;
  margin-left: -7.5%;
}

#lounch_text {
  font-family: -webkit-pictograph;
}

.text-muted {
  margin-left: 1.5%;
}

#design_with_aortem {
  margin-bottom: -106%;
}

#desk_image {
  height: 58%;
  width: 75%;
  margin-top: 15%;
}

#hr_line {
  width: 85%;
  border-top: 1px solid #3b3b3b;
}

#footer {
  margin-left: 10%;
  margin-right: 10%;
}
.logo1 {
  float: left;
  margin-left: 58px;
}
#footer_d1 {
  display: inline-grid;
}

@media (max-width: 1024px) {
  #desk_image {
    height: 45%;
    width: 75%;
    margin-top: 22%;
  }

  .card {
    border: none;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 1%;
    background-color: #5e4dfb;
    height: 250px;
    font-family: -webkit-pictograph;
    width: 22%;
    background-color: #424599;
    border-color: #424599;
  }

  #search_mt_5 {
    width: 150%;
  }

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}

@media (min-width: 768px) {
  .barr {
    width: 67%;
  }
  /* #down_arrow {
        width: 4%;
        margin-top: 55%;
        margin-left: -11.5%;
    } */
  #search_mt_5 {
    margin-top: 35%;
  }
  #design_with_aortem {
    margin-bottom: -195%;
  }
  #mobile_1 {
    height: 22%;
  }
  #mobile_button {
    margin-top: -100px;
    margin-left: -150px;
    height: 20%;
  }
  #devices_img {
    margin-left: 15%;
    width: 115%;
  }
  #lounch_text {
    text-align: left;
    margin-left: 60px;
  }
  #footer_row {
    margin-left: 5%;
    margin-bottom: -15px;
  }
  .logo1 {
    margin-left: -8%;
  }
  #footer_col {
    margin: 30px;
    text-align: left;
    margin-left: 1%;
  }
}

@media (min-width: 576px) {
  .h1,
  h1 {
    font-size: 2rem;
  }
}
