<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body class="body">
    <!-- first navbar start -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="row a">
          <h4 style="font-family: sans-serif; margin-top: 5px">
            {{ with .Params.nav_bar_title }} {{.}} {{ end }}
          </h4>
          <button class="join">
            {{ with .Params.nav_btn }} {{.}} {{ end }}
            <img
              src="/images/right-arrow.png"
              alt="arrow"
              style="padding-left: 10px"
            />
          </button>
        </div>
      </div>
    </nav>
    <!-- first navbar end -->
    <!-- second navbar start -->
    <nav
      id="sticky"
      class="navbar navbar-expand-lg"
      style="background-color: white; top: 53px"
    >
      <img
        src="/images/aortem-logo-svg1.png"
        alt="logo "
        style="margin-top: -10px; margin-left: 100px"
      />
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collection of nav links, forms, and other content for toggling -->
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <div
          class="navbar-nav"
          style="margin-left: 50px; font-family: system-ui"
        >
          <a href="/" class="nav-item nav-link" style="color: mediumslateblue"
            >Home</a
          >
          <a
            href="/pricing"
            class="nav-item nav-link"
            style="padding-left: 50px"
            >Pricing</a
          >
        </div>
      </div>
      <div
        class="navbar-nav ml-auto action-buttons"
        style="margin-right: 100px"
      >
        <a href="#" class="btn-coming-soon btn btn-primary sign-up-btn"
          >Coming Soon</a
        >
      </div>
    </nav>

    <!-- second navbar end -->
    <section class="section-1">
      <div
        class="bg-image"
        style="
          background-image: url('images/Rectangle 1397.png');
          height: 100vh;
          width: 100%;
          background-size: auto 100%;
        "
      >
        <div class="container-fluid text-left">
          <div class="col-sm-12">
            <div class="row">
              <div
                class="col-sm-5"
                style="
                  font-family: system-ui;
                  color: white;
                  margin-top: 125px;
                  padding-left: 6rem;
                "
              >
                <h1>{{ with .Params.hero_title }} {{.}} {{ end }}</h1>
                <p style="font-family: -webkit-pictograph">
                  {{ with .Params.hero_text }} {{.}} {{ end }}
                </p>
                <div id="search_mt_5" class="search mt-5">
                  <p>Notify me when available</p>
                  <div class="search-container">
                    <form
                      class="bar"
                      action="{{ with .Params.hero_form_action }} {{.}} {{ end }}"
                    >
                      <input
                        class="barr"
                        type="text"
                        name="search2"
                        placeholder="Enter your email address"
                      />
                      <button class="btn1" type="submit">Notify</button>
                    </form>
                  </div>
                  <div class="row">
                    <p style="writing-mode: vertical-lr; margin-top: 2rem">
                      Scroll to see more
                    </p>
                    <img id="down_arrow" src="/images/down_arrow.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-6">
                <img id="desk_image" src="images/layer-2.png" alt=" object" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-2">
      <!-- after background image -->
      <div
        class="para text-center"
        style="background-color: #14181b; padding-top: 15rem"
      >
        <div style="font-family: system-ui">
          <h3>{{ with .Params.main_text_title }} {{.}} {{ end }}</h3>
          <p>{{ with .Params.main_text_description }} {{.}} {{ end }}</p>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-2"></div>
            <!-- first card -->
            <div class="card">
              <div class="card-body text-center">
                <h1 class="card-title">
                  {{ with .Params.card_1_title }} {{.}} {{ end }}
                </h1>
                <h2 class="card-subtitle mb-2">
                  {{ with .Params.card_1_subtitle }} {{.}} {{ end }}
                </h2>
                <p class="card-text">
                  {{ with .Params.card_1_description }} {{.}} {{ end }}
                </p>
              </div>
            </div>
            <!-- first card end -->
            <!-- second card start -->
            <div class="card">
              <div class="card-body text-center">
                <h1 class="card-title">
                  {{ with .Params.card_2_title }} {{.}} {{ end }}
                </h1>
                <h2 class="card-subtitle mb-2">
                  {{ with .Params.card_2_subtitle }} {{.}} {{ end }}
                </h2>
                <p class="card-text">
                  {{ with .Params.card_2_description }} {{.}} {{ end }}
                </p>
              </div>
            </div>
            <!-- second card end -->
            <!-- third card start -->
            <div class="card">
              <div class="card-body text-center">
                <h1 class="card-title">
                  {{ with .Params.card_3_title }} {{.}} {{ end }}
                </h1>
                <h2 class="card-subtitle mb-2">
                  {{ with .Params.card_3_subtitle }} {{.}} {{ end }}
                </h2>
                <p class="card-text">
                  {{ with .Params.card_3_description }} {{.}} {{ end }}
                </p>
              </div>
            </div>
            <!-- third card end -->
          </div>
        </div>

        <div class="col-sm-12">
          <div
            class="row"
            style="margin-top: 150px; margin-left: -50px; margin-bottom: -106%"
          >
            <div class="col-sm-6" style="z-index: 9 !important">
              <img
                id="mobile_1"
                src="/images/iphone-mockup-2.png"
                alt="mockup"
                height="650px"
              />
              <img
                id="mobile_button"
                src="/images/iphone-mockup.png"
                alt="mockup"
                height="650px"
                style="margin-top: -110px; margin-left: -135px"
              />
              <button
                class="btn"
                style="
                  background-color: #5e4dfb;
                  color: #ffffff;
                  border: none;
                  border-radius: 5px;
                  margin-left: -120px;
                  width: 120px;
                "
              >
                Text
              </button>
            </div>
            <div
              class="col-sm-5"
              style="
                font-family: -webkit-pictograph;
                text-align: left;
                margin-left: -30px;
              "
            >
              <div>
                <h2 style="font-family: system-ui; margin-left: -18px">
                  {{ with .Params.design_title }} {{.}} {{ end }}
                </h2>
                <img
                  style="margin-left: 15rem; margin-top: -50px"
                  src="/images/icon-1.png"
                  alt=""
                />
              </div>
              <div class="row">
                <img
                  class="drop"
                  src="/images/water-drop.png"
                  alt="water-drop"
                />
                <h5 class="drag">
                  {{ with .Params.design_1_title}} {{.}} {{ end }}
                </h5>
              </div>
              <p class="text-muted">
                {{ with .Params.design_1_description}} {{.}} {{ end }}
              </p>
              <div class="row">
                <img
                  class="drop"
                  src="/images/water-drop.png"
                  alt="water-drop"
                />
                <h5 class="drag">
                  {{ with .Params.design_2_title}} {{.}} {{ end }}
                </h5>
              </div>
              <p class="text-muted">
                {{ with .Params.design_2_description}} {{.}} {{ end }}
              </p>
              <div class="row">
                <img
                  class="drop"
                  src="/images/water-drop.png"
                  alt="water-drop"
                />
                <h5 class="drag">
                  {{ with .Params.design_3_title}} {{.}} {{ end }}
                </h5>
              </div>
              <p class="text-muted">
                {{ with .Params.design_3_description}} {{.}} {{ end }}
              </p>
            </div>
          </div>
        </div>
        <div
          class="container-fluid"
          style="font-family: -webkit-pictograph; background-color: #4c44a2"
        >
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-5" style="margin-top: 70px">
                <h2 style="float: left; margin-left: -2%">
                  {{ with .Params.code_title}} {{.}} {{ end }}
                </h2>
                <br />
                <br />
                <div class="row" style="margin-top: 50px">
                  <img src="/images/line-1.png" alt="line" />
                  <div
                    class="para2"
                    style="
                      margin-top: -75px;
                      text-align: left;
                      margin-left: 10px;
                    "
                  >
                    <h5>{{ with .Params.code_1_title}} {{.}} {{ end }}</h5>
                    <p style="font-size: 14px">
                      {{ with .Params.code_1_description}} {{.}} {{ end }}
                    </p>
                  </div>
                </div>
                <div class="row" style="margin-top: 50px">
                  <img src="/images/line-1.png" alt="line" />
                  <div
                    class="para2"
                    style="
                      margin-top: -75px;
                      text-align: left;
                      margin-left: 10px;
                    "
                  >
                    <h5>{{ with .Params.code_2_title}} {{.}} {{ end }}</h5>
                    <p style="font-size: 14px">
                      {{ with .Params.code_2_description}} {{.}} {{ end }}
                    </p>
                  </div>
                </div>
                <div class="row" style="margin-top: 50px">
                  <img src="/images/line-1.png" alt="line" />
                  <div
                    class="para2"
                    style="
                      margin-top: -75px;
                      text-align: left;
                      margin-left: 10px;
                    "
                  >
                    <h5>{{ with .Params.code_3_title}} {{.}} {{ end }}</h5>
                    <ul style="font-size: 14px">
                      <li>
                        <a
                          href="{{ with .Params.code_3_link_1}} {{.}} {{ end }}"
                          style="color: white"
                          >{{ with .Params.code_3_li_1}} {{.}} {{ end }}</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{ with .Params.code_3_link_2}} {{.}} {{ end }}"
                          style="color: white"
                          >{{ with .Params.code_3_li_2}} {{.}} {{ end }}</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{ with .Params.code_3_link_3}} {{.}} {{ end }}"
                          style="color: white"
                          >{{ with .Params.code_3_li_3}} {{.}} {{ end }}</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{ with .Params.code_3_link_4}} {{.}} {{ end }}"
                          style="color: white"
                          >{{ with .Params.code_3_li_4}} {{.}} {{ end }}</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{ with .Params.code_3_link_5}} {{.}} {{ end }}"
                          style="color: white"
                          >{{ with .Params.code_3_li_5}} {{.}} {{ end }}</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="row">
                  <img
                    src="/images/browser.png"
                    alt="browser"
                    style="
                      width: 115%;
                      height: 400px;
                      margin-top: 70px;
                      margin-left: 40px;
                    "
                  />
                  <img
                    src="/images/mockup-iphone-thin.png"
                    alt="mbl"
                    style="width: 200px; height: 400px; margin-top: -230px"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div>
            <h2
              style="
                font-family: system-ui;
                position: relative;
                margin-top: 50px;
              "
            >
              {{ with .Params.start_today}} {{.}} {{ end }}
            </h2>
            <img
              style="height: 10px; margin-left: -61%; margin-top: -52px"
              src="/images/icon-2.png"
              alt=""
            />
          </div>
          <h6 style="font-family: system-ui">
            {{ with .Params.start_today}} {{.}} {{ end }}
          </h6>
          <button
            style="font-family: sans-serif; font-weight: bold"
            class="get"
          >
            Get started today<img
              src="images/right-arrow.jpg"
              alt="arrow"
              style="padding-left: 8px"
            />
          </button>
        </div>

        <div class="container-fluid" style="margin-top: 100px">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-5">
                <div class="row">
                  <img id="devices_img" src="/images/devices.png" alt="" />
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div id="lounch_text" class="col-sm-5">
                <div style="margin-left: -1rem">
                  <img
                    style="margin-left: 6rem; margin-bottom: -4rem"
                    src="/images/icon-3.png"
                    alt=""
                  />
                  <h2>{{ with .Params.launch}} {{.}} {{ end }}</h2>
                  <p class="dras text-muted">
                    {{ with .Params.launch_sub}} {{.}} {{ end }}
                  </p>
                </div>
                <div class="row">
                  <img
                    class="drop1"
                    src="/images/water-drop.png"
                    style="height: 20px; margin-right: 9px"
                    alt="water-drop"
                  />
                  <p>{{ with .Params.launch_li_1}} {{.}} {{ end }}</p>
                </div>

                <div class="row">
                  <img
                    class="drop1"
                    src="/images/water-drop.png"
                    style="height: 20px; margin-right: 9px"
                    alt="water-drop"
                  />
                  <p class="dras">
                    {{ with .Params.launch_li_2}} {{.}} {{ end }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- footer start -->
        <footer>
          <hr id="hr_line" class="new1 text-muted" />
          <div class="container-fluid">
            <div
              id="footer_row"
              class="row"
              style="
                font-family: -webkit-pictograph;
                margin-left: 5rem;
                margin-bottom: -15px;
              "
            >
              <div class="col-sm-4">
                <img
                  class="logo1"
                  src="/images/aortem-logo-svg.png"
                  width="140px"
                  height="60px"
                  style="float: left; margin-left: 58px"
                />
                <br />
                <br />
                <br />
                <a
                  class="a1 text-muted"
                  href=""
                  style="color: white; text-align: left"
                  >Everything You Need To Build Your Flutter App</a
                >
                <br />
                <img
                  src="/images/discord-logo.png"
                  alt=""
                  style="float: left; margin-left: 58px; margin-top: 15px"
                />
              </div>
              <div id="footer_col" class="col-sm-2">
                <a class="a" style="color: white" href="">Quick</a>
                <br />
                <br />
                <a class="a text-muted" href="/">Home</a>
                <br />
                <a class="a text-muted" href="/prcing">Prices</a>
                <br />
              </div>
              <div id="footer_col" class="col-sm-2">
                <a class="a" style="color: white" href="">Company</a>
                <br />
                <br />
                <a class="a text-muted" href="">Discord</a>
                <br />
                <a class="a text-muted" href="">Contact Us</a>
                <br />
              </div>
              <div id="footer_col" class="col-sm-2">
                <a class="a" style="color: white" href="">Legal</a>
                <br />
                <br />
                <a class="a text-muted" href="">Terms of services</a>
                <br />
                <a class="a text-muted" href="">Privacy Policy</a>
                <br />
              </div>
            </div>
            <hr id="hr_line" class="new1 text-muted" />
            <p class="text-muted" style="margin: auto; padding-bottom: 10px">
              ©Aortem 2021
            </p>
          </div>
        </footer>

        <!-- footer end -->
      </div>
    </section>

    {{ partial "script.html"}}
  </body>
</html>
