<!DOCTYPE html>
<html>
  {{ partial "head-pricing.html"}}

  <body style="background-color: #14181b">
    <!-- navbar start -->
    {{ partial "pricing-nav.html"}}
    <!-- navbar end -->
    <!-- main body start -->
    <div class="container-fluid editable" style="background-color: #14181b">
      <section class="section-1">
        {{ partial "plan-text.html"}}
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10" style="background-color: #14181b">
              <!-- navbar start -->
              {{ partial "table.html"}}
              <!-- navbar end -->
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- footer start -->
    <footer>
      <hr id="hr_line" class="new1 text-muted" />
      <div class="container-fluid">
        <div
          id="footer_row"
          class="row"
          style="
            font-family: -webkit-pictograph;
            margin-left: 5rem;
            margin-bottom: -15px;
          "
        >
          <div class="col-sm-4">
            <img
              class="logo1"
              src="/images/aortem-logo-svg.png"
              width="140px"
              height="60px"
              style="float: left; margin-left: 58px"
            />
            <br />
            <br />
            <br />
            <a
              class="a1 text-muted"
              href=""
              style="color: white; text-align: left"
              >Everything You Need To Build Your Flutter App</a
            >
            <br />
            <img
              src="/images/discord-logo.png"
              alt=""
              style="float: left; margin-left: 58px; margin-top: 15px"
            />
          </div>
          <div id="footer_col" class="col-sm-2">
            <a class="a" style="color: white" href="">Quick</a>
            <br />
            <br />
            <a class="a text-muted" href="/">Home</a>
            <br />
            <a class="a text-muted" href="/prcing">Prices</a>
            <br />
          </div>
          <div id="footer_col" class="col-sm-2">
            <a class="a" style="color: white" href="">Company</a>
            <br />
            <br />
            <a class="a text-muted" href="">Discord</a>
            <br />
            <a class="a text-muted" href="">Contact Us</a>
            <br />
          </div>
          <div id="footer_col" class="col-sm-2">
            <a class="a" style="color: white" href="">Legal</a>
            <br />
            <br />
            <a class="a text-muted" href="">Terms of services</a>
            <br />
            <a class="a text-muted" href="">Privacy Policy</a>
            <br />
          </div>
        </div>
        <hr id="hr_line" class="new1 text-muted" />
        <p class="text-muted" style="margin: auto; padding-bottom: 10px">
          ©Aortem 2021
        </p>
      </div>
    </footer>
    <!-- footer end -->

    <!-- main body end -->

    <!-- script start -->
    {{ partial "script.html"}}
    <!-- script end -->
  </body>
</html>
