<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Aorterm</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/css/style.css" />
  <style>
    .body {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 900;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z11lFd2JQEl8qw.woff2)
        format("woff2");
      unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
        U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
    }
    table,
    td,
    th {
      border: 1px solid black;

      background-color: #262d34;
      color: white;
      text-align: center;
    }
    h1 {
      color: white;
      text-align: center;
    }
    .dot {
      height: 10px;
      width: 10px;
      background-color: #858585;
      border-radius: 50%;
      display: inline-block;
    }
    .dot1 {
      height: 10px;
      width: 10px;
      background-color: #fe4a01;
      border-radius: 50%;
      display: inline-block;
    }
    .dot2 {
      height: 10px;
      width: 10px;
      background-color: #345eef;
      border-radius: 50%;
      display: inline-block;
    }
    .dot3 {
      height: 10px;
      width: 10px;
      background-color: #434b9c;
      border-radius: 50%;
      display: inline-block;
    }
  </style>
</head>
