<nav class="navbar navbar-expand-lg editable">
      <div class="container-fluid">
        <div class="row a">
          <h4>Join our Community on Discord</h4><button class="join">Join<img alt="arrow" style="padding-left: 10px" src="images/right-arrow.png" /></button>
        </div>
      </div>
    </nav>
