<div class="container-fluid col-sm-12">
  <div>
    <h1 id="main_heading">
      Choose The Plan That Meets<br />
      You Where You Are.
    </h1>
    <img id="plan_trace_img" src="/images/icon-1.png" alt="" />
    <!-- <img style="margin-left: -55%; margin-top: -7%;" src="images/rect.png" alt="">
          <img style="margin-left: -80%; margin-top: -7%;" src="images/rect2.png" alt=""> -->
    <div
      style="margin-left: 14%; margin-top: -4rem"
      id="square"
      class="rectangle"
    ></div>
    <div
      style="margin-top: 2rem; margin-bottom: 2rem; margin-left: 11%"
      id="square"
      class="rectangle"
    ></div>
    <div style="margin-left: 16%" id="square" class="rectangle"></div>
  </div>
  <div align="right" style="margin-top: -8rem">
    <div style="margin-right: 14%" id="square" class="rectangle"></div>
    <div
      style="margin-top: 2rem; margin-bottom: 2rem; margin-right: 11%"
      id="square"
      class="rectangle"
    ></div>
    <div style="margin-right: 16%" id="square" class="rectangle"></div>
  </div>
</div>
