<nav
  id="sticky"
  class="navbar navbar-expand-lg"
  style="background-color: white"
>
  <img
    src="/images/aortem-logo-svg1.png"
    alt="logo "
    style="margin-left: 100px"
  />
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <div
      class="navbar-nav"
      style="
        margin-left: 50px;
        font-family: system-ui;
        font-size: 17px;
        font-weight: bold;
      "
    >
      <a href="/" class="nav-item nav-link">Home</a>
      <a
        href="/pricing"
        class="nav-item nav-link"
        style="padding-left: 50px; color: mediumslateblue"
        >Pricing</a
      >
    </div>
  </div>
  <div class="navbar-nav ml-auto action-buttons" style="margin-right: 100px">
    <a href="#" style="font-family: system-ui" class="nav-link mr-4">Login</a>
    <a href="#" class="btn-coming-soon btn-primary btn sign-up-btn"
      >Coming Soon</a
    >
  </div>
</nav>
