<table
  class="table"
  style="
    border-radius: 1em !important;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid black;
    margin-top: 50px;
  "
>
  <tr>
    <th style="border-top: 1px solid black" class="editable">
      <h6 style="margin-top: 50px">Memberships</h6>
    </th>
    <th style="border-top: 1px solid black" class="editable">
      Free Version
      <br />
      <h4 style="margin-top: 25px">$0<small>/mo</small></h4>

      <button
        style="
          background-color: #858585;
          color: white;
          border: none;
          border-radius: 4px;
          padding: 5px 15px;
        "
      >
        Get Started
      </button>
    </th>
    <th style="border-top: 1px solid black" class="editable">
      <p
        style="
          border: 1px solid #fe4a01;
          border-radius: 4px;
          width: 110px;
          float: center;
          margin: auto;
        "
      >
        <small> Most Popular</small>
      </p>

      <p style="margin: 0px">lite</p>
      <h4>$15<small>/mo</small></h4>
      <button
        style="
          background-color: #fe4a01;
          color: white;
          border: none;
          border-radius: 4px;
          padding: 5px 15px;
        "
      >
        Get Started
      </button>
    </th>
    <th style="border-top: 1px solid black" class="editable">
      Production
      <br />
      <h4 style="margin-top: 25px">$125<small>/mo</small></h4>

      <button
        style="
          background-color: #345eef;
          color: white;
          border: none;
          border-radius: 4px;
          padding: 5px 15px;
        "
      >
        Get Started
      </button>
    </th>
    <th style="border-top: 1px solid black" class="editable">
      Enterprise
      <br />
      <br />
      <button
        style="
          margin-top: 37px;
          background-color: #434b9c;
          color: white;
          border: none;
          border-radius: 4px;
          padding: 5px 15px;
        "
      >
        Get Started
      </button>
    </th>
  </tr>
  <tr>
    <td class="editable">Features</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>
      <small class="editable">
        Test Ideas And<br />
        Build Competency</small
      >
    </td>
    <td><span class="dot"></span></td>
    <td><span class="dot1"></span></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td>
      <small class="editable">
        Basic Flutter App<br />
        Capabilities</small
      >
    </td>
    <td><span class="dot"></span></td>
    <td><span class="dot1"></span></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Drag And Drop Capabilities </small></td>
    <td><span class="dot"></span></td>
    <td><span class="dot1"></span></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Responsive Layout</small></td>
    <td><span class="dot"></span></td>
    <td><span class="dot1"></span></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Additional Users</small></td>
    <td></td>
    <td><span class="dot1"></span></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Scale As You Grow</small></td>
    <td></td>
    <td><span class="dot1"></span></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Fully Integrated Apis </small></td>
    <td></td>
    <td><span class="dot1"></span></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Widget And Code Editor</small></td>
    <td></td>
    <td><span class="dot1"></span></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td>
      <small class="editable">
        Pub.Dev And Custom<br />
        Packages Integration</small
      >
    </td>
    <td></td>
    <td><span class="dot1"></span></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable"> Overage Allowance</small></td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td>
      <small class="editable"
        >Drag And Drop UI<br />
        Elements</small
      >
    </td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Multiple API Providers</small></td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td>
      <small class="editable"
        >Multiple Database<br />
        Integration Providers</small
      >
    </td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td>
      <small class="editable"
        >Remove Aortem Branding<br />
        From Emails</small
      >
    </td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Enterprise Oauth Providers</small></td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Audit Trails</small></td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Custom Access Controls</small></td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Priority Support</small></td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td>
      <small class="editable"
        >Multiple Authentication<br />
        Providers: Firebase, Auth0,<br />
        Cignito, Okta</small
      >
    </td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Analytics</small></td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">REST API Server</small></td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">API Designer</small></td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Web Sockets</small></td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Web Hooks</small></td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">CLI</small></td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Caching</small></td>
    <td></td>
    <td></td>
    <td><span class="dot2"></span></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td>
      <small class="editable"
        >Extensions And Module<br />
        Ecosystem</small
      >
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Unlimited Users</small></td>
    <td></td>
    <td></td>
    <td></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td><small class="editable">Log Drain</small></td>
    <td></td>
    <td></td>
    <td></td>
    <td><span class="dot3"></span></td>
  </tr>
  <tr>
    <td></td>
    <td class="editable">
      <button
        style="
          background-color: #858585;
          color: white;
          border: none;
          border-radius: 4px;
          padding: 5px 15px;
        "
      >
        Get Started
      </button>
    </td>
    <td class="editable">
      <button
        style="
          background-color: #fe4a01;
          color: white;
          border: none;
          border-radius: 4px;
          padding: 5px 15px;
        "
      >
        Get Started
      </button>
    </td>
    <td class="editable">
      <button
        style="
          background-color: #345eef;
          color: white;
          border: none;
          border-radius: 4px;
          padding: 5px 15px;
        "
      >
        Get Started
      </button>
    </td>
    <td class="editable">
      <button
        style="
          background-color: #434b9c;
          color: white;
          border: none;
          border-radius: 4px;
          padding: 5px 15px;
        "
      >
        Get Started
      </button>
    </td>
  </tr>
</table>
